/* 눈누 등 폰트 사이트에서 가져옴 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 직접 입력 */
body{
    font-family: 'GowunDodum-Regular';
}